body {
    background-color: #f0f0f6;
    font-family:inter;
    font-size: 15px;
    color: #767676;
}

.bordering {
    /* border: 1px solid black; */
}

.main-container {
    display: flex;
    flex-direction: row;
}

.right {
    min-width: 108px;
}
.right-menu {
    display: flex;
    justify-content: end;
    background-color: #FAFAFA;
}
.right-menu-buttons{
    margin-top: 300px;
    width: 65px;
    height: 493px;

}
.active  {
    background-color: #FFB400;
}

.non-active {
    background-color: #f0f0f6;
}
.right-icons {
    
    margin-top: 20px;
    line-height: 38px;
    text-align: center;
    width: 40px;
    height: 40px; 
    border-radius: 100px;
    cursor: pointer;
}
.non-active:hover {
    background-color: #FFB400;
}
.left{
    margin-right: 20px;
    min-width: 305px;
}

.left-menu {
    background-color: #ffffff;
    padding: 20px 20px;
}
.left-menu-basic {
    text-align: center;
}
.left-menu-profile {
    background-color: #f0f0f6;;
    max-width: 150px;
    min-height: 150px;
    margin: 0px 58px;
    border-radius: 100%;
    background: url("../assets/croped150by150.png");
    background-color: #f0f0f6;
    background-position: center;
    background-repeat: no-repeat;
}

.social-icons {
    display: flex;
    justify-content: space-between;
}
.single-social-icon{
    margin: 2px 2px;
    background-color: #FFB400;
    width: 24px;
    height: 24px; 
    border-radius: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.personal-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px 0px;
}
.personal-info-left{
    background-color: #FFB400;
    width: fit-content;
    padding: 1px 2px;
}
.personal-info-right{
    width: fit-content;
}
.language-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px 0px;
}
.language-info-left{
    width: fit-content;
    padding: 1px 2px;
}
.language-info-right{
    width: fit-content;
}
.skills-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px 0px;
}
.skills-info-left{
    width: fit-content;
    padding: 1px 2px;
}
.skills-info-right{
    width: fit-content;
}
.progress-outline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:280px;
    height:8px;
    border:#FFB400 1px solid; border-radius: 12px;
}
.progress-fill{
    height:2px;
    background-color:#FFB400;
    border-radius: 8px;
}
.content {
    min-height: 1200px;
    margin-right: 20px;
    min-width: 986px;
}

.content-intro {
    min-height: 468px;
    background-color: #ffffff;
    padding: 0 40px 0 40px;
    display: flex;
}

.content-intro-left {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}
.content-intro-left-name{
    font-size: 48px;
    font-weight: bold;
}

.content-work-history{
    display: flex;
    min-height: 468px;
    flex-direction: column;
    margin-top: 75px;
}

.content-work-history-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
}
.sub-title {
    max-width: 500px;
    text-align: center;
    margin-bottom: 50px;
}
.content-work-history-data-container {
    display: flex;
    background-color: #ffffff;
    padding: 40px 40px;
    flex-direction: column;
}
.content-work-history-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-work-history-data-right {
    max-width: 540px;
}

.contact{
   min-height: 468px; 
   margin-top: 75px;
}

.contact-form {
    background-color: #ffffff;
    padding: 0 40px 0 40px;
}
.form-label{
    margin-top: 20px;
}
input:focus {
    outline: none !important;
    border : 1px solid #FFB400;
    box-shadow: 0 0 5px #FFB400;
    border-radius: 5px;
  }


.portfolio-input{
    width: 100%;
    height: 50px;
    background-color: #f0f0f6;
    border: none;
    font-size: large;
    color: #767676;
}

.portfolio-input-textarea{
    width: 100%;
    background-color: #f0f0f6;
    border: none;
    font-size: large;
    color: #767676;
}
textarea:focus {
    outline: none !important;
    border : 1px solid #FFB400;
    box-shadow: 0 0 5px #FFB400;
    border-radius: 5px;
  }
.contact-card{
    background-color: #ffffff;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.contact-card-icon{
    background-color: #FFB400;
    margin-top: 20px;
    line-height: 38px;
    text-align: center;
    width: 40px;
    height: 40px; 
    border-radius: 100px;
}

.contact-card-value-row {
    display: flex;
    justify-content: space-between;
    width: 332px;
    margin: 20px 0px 20px 0px;
    padding: 0 40px 0 40px;
}

.left-content-bold-font{
    font-weight: bold;
    font-size: 18px;
    color: #2b2b2b;
}

.bold-color {
   color: #2b2b2b; 
}
.left-content-font {
    font-size: 15px;
}
.available-for-hire {
    color: #7EB942;
}